* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  text-align: center;
}

.startBtn {
  display: block;
  width: 100%;
  height: auto;
  background-color: #58b8e8 !important;
  border-color: #15a9f3 !important;
}

.startBtn:hover {
  background-color: #15a9f3 !important;
  border-color: #15a9f3 !important;
}
